h1 {
    color: cyan;
    font-size: x-l;
}

.DataPair {
    background-color:black;
    color:blanchedalmond;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: 0.75em;
}

footer {
    margin-top: 4em;
}

input[type=text], textarea {
    background-color: blanchedalmond;
}

body {
    background-color: white;
}